includeConfig 'nextflow.config'

singularity {
  enabled = true
  runOptions = ''
  cacheDir = "$baseDir/images/singularity"
}

conda.enabled = false

profiles {
    light_sheet {
        conda.enabled = false
    }
}

trace.overwrite = true
timeline.overwrite = true
report.overwrite = true
dag.overwrite = true
