params {
    image_files = []
    input = []
    image_path = ''
    cell_name = ''
    cell_index = -1
    output_dir = './workflow/output'

    dx = -1
    dz = -1
    angle = 40
    flip = 1
    deskew_backend = 'gpu'
    deskew_workers = 32
    deskew_prefetch = 64
    deskew_x_block = 1
    build_deskew_container = true
}

profiles {
    my_cluster {
        conda.enabled = true
    }

    light_sheet {
        conda.enabled = false
        params.angle = 40
        params.flip = 1
    }

    conda_runtime {
        conda.enabled = false
        params.build_deskew_container = true
    }
}

process {
    executor = 'slurm'

    withName: DESKEW {
        cpus = 32
        memory = '64 GB'
        queue = { params.deskew_backend == 'gpu' ? 'GPU' : 'super' }
        clusterOptions = { params.deskew_backend == 'gpu' ? '--gres=gpu:1' : '' }
    }
}
